@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
$protein-green: #61E881;
$carbs-blue: #61BFE8;
$fat-red: #E95555;
$white-500: #FFFFFF;
$black-main: #000000;
$grey-300: #95989A;
$grey-400: darken($grey-300, 20%);

%flex-col {
  display: flex;
  flex-flow: column wrap;
}
.app-wrap {
  display: flex;
  flex-flow: row wrap;
}

.user-wrap {
  max-width: 500px;
  margin: 0 10px;
  background: $white-500;
  .user-pic {
    color: #fff;
    box-shadow: 0 5px 15px transparentize($grey-400, .2);
    background: {
      repeat: no-repeat;
      position: center center;
      size: cover !important;
      blend-mode: overlay,darken;
    }
    text-align: center;
    padding: 100px 0;
  }
  h1 {
    margin: 0;
  }
  flex: 1;
}
* {
  font-family: 'Open Sans';
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(45deg, $protein-green, $carbs-blue, $fat-red) no-repeat center center / cover;
}


.search-results {
  max-width: 500px;
  background: $white-500;
  padding: 8px 15px;
  max-height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  flex: 1;
  


  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.search-results::webkit-scrollbar {
    display: none;
  }


.food-item {
  margin: 10px;
  box-shadow: 0 0 0 1px transparentize($black-main, .8),  0 6px 8px transparentize($black-main, .7);
  height: 12vh;
  padding: 0 5px;
  border-radius: 6px;
  position: relative;
  @extend %flex-col;
  justify-content: center;
  h4 {
    margin: 0;
    padding: 8px 0;
    color: $grey-400;
  }

  p {
    margin: 0;
    padding: 5px 0;
  }
  .macro-square:before {
    content: "";
    display: inline-block;
    margin: 0 5px;
    width: 18px;
    height: 18px;
  }
  .protein:before {
    background: $protein-green;
  }
  .carbs:before {
    background: $carbs-blue;
  }
  .fat:before {
    background: $fat-red;
  }

  .add-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px;
    cursor: pointer;
  }
}

.settings-panel {
  background: $white-500;
  flex: 0 1 25%;
  padding: 10px 9px;
  @extend %flex-col;
  h3 {
    text-align: center;
  }
  label {
    font-size: .8em;
    padding: 2px 0;
    font-weight: 600;
    color: $grey-300;
  }
  input {
    margin-bottom: 10px;
    width: 100%;
  }
  span {
    margin: 0;
    padding: 0;
  }
}


.food-enter {
  opacity: 0;
  transform: translateX(-100%);

  &.food-enter-active {
     transition: 200ms all;
     opacity: 1;
     transform: translateX(0);
  }
}

.food-leave {
  opacity: 1;
  transform: translateX(0);

  &.food-leave-active {
    opacity: 0;
    transform: translateX(100%);
  }
}



